## EXERCISE: Predicting Survival on the Titanic

In [1]:
# TASK 1: read the data from titanic.csv into a DataFrame
import pandas as pd
titanic = pd.read_csv('../../data/titanic.csv', index_col='PassengerId')

In [15]:
titanic2 = titanic.dropna(subset=['Age'])

In [24]:
# TASK 2: define Pclass/Parch as the features and Survived as the response
feature_cols = ['Pclass', 'Parch']
X = titanic[feature_cols]
y = titanic.Survived
titanic.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [25]:
# TASK 3: split the data into training and testing sets
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [26]:
# TASK 4: fit a logistic regression model and examine the coefficients
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
zip(feature_cols, logreg.coef_[0])

[('Pclass', -0.84439049407381295), ('Parch', 0.34124169973162261)]

In [27]:
# TASK 5: make predictions on testing set and calculate accuracy
y_pred_class = logreg.predict(X_test)
from sklearn import metrics
print metrics.accuracy_score(y_test, y_pred_class)

0.668161434978

In [28]:
# TASK 6 (BONUS): add Age as a feature and calculate testing accuracy
titanic2 = titanic.dropna(subset=['Age'])
feature_cols = ['Pclass', 'Age', 'Parch']
X = titanic2[feature_cols]
y = titanic2.Survived
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
logreg2 = LogisticRegression()
logreg2.fit(X_train, y_train)
zip(feature_cols, logreg2.coef_[0])
y_pred_class = logreg2.predict(X_test)
print metrics.accuracy_score(y_test, y_pred_class)

0.754189944134

In [29]:
# TASK 7 (BONUS): Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix (y_test, y_pred_class)

array([[99, 13],
       [31, 36]])